TINK_CLIENT_ID=your_tink_client_id
TINK_CLIENT_SECRET=your_tink_client_secret
TINK_API_URL=https://api.tink.com
TINK_LINK_URL=https://link.tink.com

# Local dev
MERCHANT_APP_URL=http://localhost:3001
PPB_APP_URL=http://localhost:3000
PORT=3002
NODE_ENV=development

JWT_SECRET=dev-secret-change-in-production
JWT_EXPIRES_IN=1h

# Production (set these as Cloud Run env vars via gcloud or Cloud Run console)
# MERCHANT_APP_URL=https://merchant-app-778709322088.us-central1.run.app
# PPB_APP_URL=https://ppb-app-778709322088.us-central1.run.app
# PORT=8080
# NODE_ENV=production




# Oxford Instance
# TINK_CLIENT_ID=6d87e85aee8748b0966d303f1675711d
# TINK_CLIENT_SECRET=838f38a572004efab6e7190fcb591c6b
# TINK_API_URL=https://api.tink.com
# TINK_LINK_URL=https://link.tink.com

# MERCHANT_APP_URL=http://localhost:3001
# PPB_APP_URL=http://localhost:3000
# EXTRA_ORIGINS=http://192.168.0.163:3000,http://192.168.0.163:3001

# JWT_SECRET=dev-secret-change-in-production
# JWT_EXPIRES_IN=1h

# PORT=3002
# NODE_ENV=development